
.coin-container{
    display: flex;
    justify-content: center;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:80px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
}
.coin{
    display: flex;
    justify-content: flex-start;
    
    margin-right: 24px;
    align-items: center;
   
}
.coin h1{
    font-size: 16px;
    width: 150px;
    font-weight: 600;
}
.coin img{
    height: 40px;
    width: 40px;
    margin-right: 15px;
}   
.coin-symbol{
    text-transform: uppercase;
}
.coin-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.coin-price{
    width: 110px;
}
.coin-vloume{
    width: 230px;
}
.coin-market-cap{
    width: 150px;
    line-height: 1.5;
}
.coin-loss{
    color: red;
    width: 100px;
}

.coin-profit{
    color: green;
    width: 100px;
}